<%= javascript_include_tag 'mercury_loader' %>
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @page.title %>
</p>

<div id="primary" class="mercury-region" data-type="editable">
  <%= @page.content %>
</div>

<%= link_to 'Edit', edit_page_path(@page) %>