<p id="notice"><%= notice %></p>

<p>
  <b>Caption:</b>
  <%= @picture.caption %>
</p>

<p>
  <b>Picture:</b>
  <%=image_tag @picture.picture.url %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
